*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: white;
}

nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
    padding: 16px 0px;
    align-items: center;
}

.features ul{
    padding: 18px 0px;
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.features ul a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.butn{
    background-color: #30b868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

#banner{
    width: 100%;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    max-width: 1360px;
    width: 100%;
    height: 379px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 295px 45px;
}

.heading{
    font-size: 16px;
    max-width: 229px;
    width: 100%;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #30b868;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 24px;
}

.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-content span{
    color: #30b868;
}

.banner-content p{
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.banner-button{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.banner-content .butn{
    max-width: 251px;
    width: 100%;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#unique{
    max-width: 198px;
    width: 100%;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

#unique i{
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#notes{
    max-width: 2000px;
    width: 100%;
    background-color: whitesmoke;
    padding: 0 120px;
}

#notes .note-heading{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0;
    text-align: center;
    box-sizing: border-box;
}

.note-heading h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

.note-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.note-cards{
    display: flex;
    justify-content: center;
    margin-top: 44px;
    gap: 24px;
}

.note-card{
    max-width: 322px;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
    text-align: center;
    border: 1px solid #627382;
}

.note-card h4{
    margin-bottom: 16px;
    color: #001931;
    font-size: 24px;
    font-weight: bold;
}

.note-card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.note-card .icon{
    max-width: 60px;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    background-color: #f95555;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.note-card .icon img{
    max-width: 32px;
    width: 100%;
    height: 32px;
}